{{!-- PNG of burger goes here --}}
<div class="header">
    <img src="./assets/css/burger.png">
    <h1>Eat-Da-Burger!</h1>
</div>

<div class="userBurgers">
    <div class="row">
        <div class="col-50">
            <ul class="burgers">
                {{#each burgers}}
                  {{#unless devoured}}
                    {{!-- might need to change devoured=false to true --}}
                    {{> burgers/burger-block devoured=false}}
                  {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-50">
            <ul>
                
            </ul>
        </div>
    </div>
</div>

<form class="create-form">

    <div class="form-group">
        <textarea id="burgerName" name="burgerName" placeholder="What is the name of your burger.."></textarea>
    </div>
    <p>Enter the name of your burger and click submit!</p>
    <button id="burgerSubmit" type="submit">Submit</button>
</form>