body {
    background-color: orange;
}

.header {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.userBurgers {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.create-form {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}